@import '@fontsource/poppins/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

/* html{
  @apply max-lg:overflow-x-hidden;
} */

#__next {
  overflow-x: hidden;
}

